<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <style>
    html {
      font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 0;
    }

    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
  </style>
  <body class="markdown-body">

  {% include sidebar.html %}

  <div class="content container">
  {{ content }}
  </div>

  </body>
  {% include init.html %}
</html>
